@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide { display: none; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: lightgoldenrodyellow;
  color: black;
  padding: 20px;
}

.container {
  position: relative;
  background-color: white;
  min-height: 600px;
  border-radius: 6px;
  overflow: hidden;
}

table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  white-space: wrap;
  padding: 8px 12px;
  border-bottom: 1px solid lightgray;
  user-select: none;
  transition: all linear .11s;
}

table th[data-sort] {
  padding: 8px 12px;
}

table th.asc,
table th.desc {
    color: lightcoral;
}

table th[data-sort]:before, 
table th[data-sort]:after  {
 content: '';
 position: absolute;
 height: 0;
 width: 0;
 right: 0;
 opacity: 0.3;
 border: 4px solid transparent;
}

table th[data-sort]:before {
  top: 43px;
  border-bottom-color: lightcoral;
} 

table th[data-sort]:after  {
  top: 53px;
  border-top-color: lightcoral;
}

table th.asc:before,
table th.desc:after {
  opacity: 1;
}

table th.asc:after,
table th.desc:before {
  opacity: 0;
}

table th:last-child {
  padding: 0;
}

table tbody {
  overflow: hidden;
}

table tbody tr {
  position: relative;
  transition: all linear 0.3s;
  transition-delay: 0.3s;
}

table tr.remove {
  transform: translate(-100%, 0);
}

table td {
  font-size: 14px;
  border-bottom: 1px solid lightgray;
  padding: 6px 12px;
  text-align: center;
  transition: all linear 0.3s;
  transition-delay: 0.6s;
}

table tr.remove td {
  padding: 0;
  font-size: 0;
}

table td.del {
  position: absolute;
  cursor: pointer;
  height: 100%;
  max-width: 4px;
  width: 100%;;
  background-color: rgb(255, 62, 62);
  top: 0;
  right: 0;
  padding: 0;
  overflow: hidden;
  transition: all linear 0.3s;
}

table tr:hover td.del {
  max-width: 10px;
}

table td.del:hover {
  padding-right: 60px;
}

table td.del span {
  display: inline-block;
  padding-top: 25px;
  padding-left: 20px;
}

table tr.remove td.del {
  max-width: 100%;
}

table tr.remove td.del span{
  display: none;
}

table tr.no-data {
  height: 160px;
}