@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 350px;
}

.hide { display: none; }

.header{ 
  background-color: lightblue;
  color: black;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.refresh {
    position: absolute;
    top: 55px;
    right: 30px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: lightgoldenrodyellow;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 60px;
}

button {
  background-color: lightblue;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid black;
  color: white;
  cursor: pointer;
}

.container {
  position: relative;
  background-color: white;
  min-height: 600px;
  max-width: 1500px;
  border-radius: 6px;
  overflow: scroll;
}

table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  white-space: wrap;
  padding: 8px 12px;
  border-bottom: 1px solid lightgray;
  user-select: none;
  transition: all linear .11s;
}

table th[data-sort] {
  padding: 8px 12px;
}

table th.asc,
table th.desc {
    color: lightcoral;
}

table th[data-sort]:before, 
table th[data-sort]:after  {
 content: '';
 position: absolute;
 height: 0;
 width: 0;
 right: 0;
 opacity: 0.3;
 border: 4px solid transparent;
}

table th[data-sort]:before {
  top: 43px;
  border-bottom-color: lightcoral;
} 

table th[data-sort]:after  {
  top: 53px;
  border-top-color: lightcoral;
}

table th.asc:before,
table th.desc:after {
  opacity: 1;
}

table th.asc:after,
table th.desc:before {
  opacity: 0;
}

table th:last-child {
  padding: 0;
}

table tbody {
  overflow: hidden;
}

table tbody tr {
  position: relative;
  transition: all linear 0.3s;
  transition-delay: 0.3s;
}

table tr.remove {
  transform: translate(-100%, 0);
}

table td {
  font-size: 14px;
  border-bottom: 1px solid lightgray;
  padding: 6px 12px;
  text-align: center;
  transition: all linear 0.3s;
  transition-delay: 0.6s;
}

table tr.remove td {
  padding: 0;
  font-size: 0;
}

table td.del {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  height: 100%;
  max-width: 0px;
  width: 100%;;
  background-color: rgb(255, 62, 62);
  top: 0;
  right: 0;
  padding: 0;
  overflow: hidden;
  transition: all linear 0.3s;
}

table tr:hover td.del {
  max-width: 10px;
}

table td.del:hover {
  padding-right: 60px;
}

table td.del span {
  display: inline-block;
  padding-left: 20px;
}

table tr.remove td.del {
  max-width: 100%;
}

table tr.remove td.del span{
  display: none;
}

table tr.no-data {
  height: 160px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.benefitBody {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  text-align: center;
}

.titleTexttwo {
  text-align: center;
  padding-bottom: 40px;
}

.benefitContainer{
  display: grid;
  grid-template-columns: 1fr 1fr
}

.checkboxText {
  color: black;
  cursor: pointer;
}

#tooltip, #tooltipFour, #tooltipFive, #tooltipSix, #tooltipNine {
  position: relative;
  cursor: pointer;
}

#tooltipText {
  position: absolute;
  text-align: center;
  width: 600px;
  left: 35%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  white-space: pre-wrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

#tooltipFour:hover #tooltipText {
  top: -260%;
  visibility: visible;
  opacity: 1;
}

#tooltipFive:hover #tooltipText {
  top: -395%;
  visibility: visible;
  opacity: 1;
}

#tooltipSix:hover #tooltipText {
  top: -420%;
  visibility: visible;
  opacity: 1;
}

#tooltipNine:hover #tooltipText {
  top: -525%;
  visibility: visible;
  opacity: 1;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
